/*PAGE RESET*/
* {
  margin: 0;
  padding: 0;
}

/*UNIVERSAL STYLING*/

.home-container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

/*Navigaiton Styling*/

.logo {
  width: 250px;
  height: 50px;
  /* padding: 5px 0 0 5px; */
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 20px 15px;
}

nav .mainMenu {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: -25px;
  padding: 0;
  list-style-type: none;
}

nav .mainMenu li a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

li a:hover:not(.active) {
  text-decoration: underline 5px #a3e85c;
}

nav .mainMenu li a.active {
  text-decoration: underline 5px #a3e85c;
}

nav .openMenu {
  font-size: 2rem;
  margin: 15px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

/*PAGE STYLING*/

/*HOME PAGE STYLING*/
/*EDIT HERE FOR HOME PAGE STYLING*/
.header {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.header > img {
  object-fit: cover;
  max-width: 100%;
}

.slogan {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Comfortaa";
  font-size: 118px;
  transition: all 0.1s linear;
}

h1:hover {
  font-size: 123px;
}

.slogan p {
  letter-spacing: 0.15em;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

.btn1 {
  width: 200px;
  background-color: #a3e85c;
  color: #1b6cbb;
  height: 50px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.5);
  cursor: pointer;
  margin-bottom: 50px;
  transition: all 0.1s linear;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
}

.btn1:hover {
  background-color: rgb(115, 209, 27);
  
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-align: top;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section#header {
  background-color: #ffffff;
}

.custom-shape-divider-bottom-1617756020 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617756020 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1617756020 .shape-fill {
  fill: #ffffff;
}

section#facts {
  background-color: #ffffff;
}

.mySlides {
  display: none;
}

.factsContent {
  text-align: center;
  position: absolute;
  width: 721px;
  height: 452px;
  top: 186%;
  padding: 50px;
}

.factsContent h2 {
  font-family: "Comfortaa";
  font-size: 60px;
  color: #1b6cbb;
  text-decoration: underline 5px #72d11c;
  text-underline-position: under;
  transition: all 0.1s linear;
}

.factsContent h2:hover {
  font-size: 65px;
  color: #1b6cbb;
}

.factsContent p {
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 43px 30px;
  line-height: 28px;
  border-radius: 50px;
  border: 2px solid #a2e45c;
  background: rgba(255, 255, 255, 0.568);
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}

.factsContent img {
  position: absolute;
  top: 80%;
  left: 2%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
}

.custom-shape-divider-bottom-1617839328 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1617839328 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1617839328 .shape-fill {
  fill: #5ea8ee;
}

.grid {
  display: grid;
  position: absolute;
  grid-gap: 50px;
  top: 138%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item1 {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 500px;
  height: 500px;
}

.item1 img {
  transition: all 0.1s linear;
}

.item1 img:hover {
  width: 610px;
  height: 610px;
}
.item2 {
  grid-row: 1;
  grid-column-start: 4;
  grid-column-end: 5;
  border-radius: 2rem;
  width: 520px;
  height: 493px;
}

.item2 h2 {
  text-align: left;
  font-family: "Comfortaa";
  font-size: 60px;
  color: #1b6cbb;
  text-decoration: underline 5px #72d11c;
  text-underline-position: under;
  line-height: 75px;
  transition: all 0.1s linear;
}

.item2 h2:hover {
  font-size: 65px;
  color: #1b6cbb;
}

.item2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 25px;
}

section#tips {
  background-color: #ffffff;
}

.mega img {
  position: absolute;
  top: 80%;
  left: 100%;
  width: 300px;
  height: 300px;
}

.tips {
  padding: 50px;
  width: 1382px;
  height: 565px;
  position: absolute;
  top: 286%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tips h2 {
  text-align: center;
  font-family: "Comfortaa";
  font-size: 60px;
  color: #1b6cbb;
  text-decoration: underline 5px #72d11c;
  text-underline-position: under;
  line-height: 75px;
  transition: all 0.1s linear;
}

.tips h2:hover {
  font-size: 65px;
  color: #1b6cbb;
}

.tips p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px #72d11c;
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.37);
  position: absolute;
  transition: all 0.1s linear;
}

.circle:hover {
  width: 220px;
  height: 220px;
}

.circle p {
  text-align: center;
  padding: 10px;
  margin-top: 20%;
  background: none;
  transition: all 0.1s linear;
}

.circle p:hover {
  font-size: 20px;
}

.btn2 {
  border: none;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  color: #1b6cbb;
  padding: 20px 30px;
  background-color: #a3e85c;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 20px;
}

/*END OF HOME PAGE STYLING*/

/*ABOUT PAGE STYLING*/
.grid-about {
  display: grid;
  padding-top: 50px;
  /* gap: 10px; */
  /* grid-template-rows: repeat(2, 1fr); */
  /* min-height: 800px; */
}
.about-header {
  text-align: left;
  font-family: "Comfortaa";
  font-size: 60px;
  color: #1b6cbb;
  text-decoration: underline 5px #72d11c;
  text-underline-position: under;
  line-height: 75px;
  transition: all 0.1s linear;
}

.about-header:hover {
  font-size: 65px;
  color: #1b6cbb;
}

.about-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 25px;
}
.goal-wrapper {
  width: 621px;
  height: 452px;
  padding: 50px;
  margin-left:50px; 
  border: 2px solid  #72d11c; 
  border-radius: 50px; 
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.37);

}

.goal-wrapper img{ 
width:161px; 
height: 137px; 
margin-left: 400px; 
position:absolute;  
}

.goal-wrapper img:hover{ 
  width:171px; 
  height: 147px; 
  margin-left: 400px; 
  position:absolute;  
  }



.creators-text{ 
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
}

.creators-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  padding-bottom: 50px;
}
.creators-title {
  grid-column: 1 / 6;
  width: 100%;
  text-align: center;
}
.creator {
  text-align: center;
  padding-top: 1rem;
}
.creator > h3 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.3rem;
}
.creator > p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  box-shadow: 3px 6px 10px #adadad;
  margin: 15px;
  border: 2px solid #72d11c; 
  transition: all 0.1s linear;

}

.profile-pic:hover {
  width: 180px;
  height: 180px;
  border-radius: 150px;
  box-shadow: 3px 6px 10px #adadad;
  margin: 15px;
  border: 2px solid #72d11c; 
}

/*END OF ABOUT PAGE STYLING*/

/*GET INVOLVED PAGE STYLING*/
/*Sign up styling*/
.bg-involved {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/imgs/signup_bg.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 960px;
}
.form-wrapper {
  display: flex;
  width: 50%;
  height: 100%;
  float: right;
  align-items: center;
}
form {
  margin: 0 auto;
  background: rgba(136, 136, 136, 0.5);
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  width: 75%;
}
.form-header {
  text-align: center;
}
.form-header > h2 {
  margin-top: 50px;
  font-family: "Comfortaa", sans-serif;
  font-size: 45px;
  color: #fff;
}
.form-header > p {
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 50px 20px 50px;
}
.inputs {
  text-align: center;
}
.inputs > input {
  padding: 5px 5px 5px 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 30px;
  width: 70%;
  border-radius: 30px;
  border: none;
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.5);
}
.inputs > button {
  width: 200px;
  background-color: #a3e85c;
  color: #1b6cbb;
  height: 50px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.5);
  cursor: pointer;
  margin-bottom: 50px;
  transition: all 0.1s linear;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
}
.inputs > button:hover {
  background-color: rgb(115, 209, 27);
}

/* Resources Styling */
.resources-header {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Comfortaa", sans-serif;
  font-size: 45px;
}
.resources-wrapper {
  height: 100%;
  padding-top: 50px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}
.resource-panel {
  /* background: rgba(255, 255, 255, 0.2); */
  box-shadow: 0 8px 32px 0 rgba(119, 119, 119, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 400px;
  width: 400px;
  border-radius: 30px;
  transition: all 0.2s linear;
  overflow: hidden;
}
/* .resource-panel:hover {
  transform: scale(1.05);
} */
.resource-panel:hover > img {
  filter: brightness(100%);
  transform: scale(1.05);
}
.resource-panel > img {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: all 0.2s linear;
}
.panel-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: rgba(136, 136, 136, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.panel-info > p {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

/*END OF GET INVOLVED PAGE STYLING*/

/*SEARCH PAGE STYLING*/
/*END OF SEARCH PAGE STYLING*/

/*END OF ALL PAGE STYLING*/

/*Footer Styling*/

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-bottom: 1.5rem;
  background-color: #a3e85c;
  text-align: center;
  padding-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #000;
  line-height: 30px;
}

footer h2 {
  padding-bottom: 10px;
}

.footer-left,
.footer-center,
.footer-right {
  display: inline-block;
  width: 30%;
  padding: 0 15px 0 15px;
  vertical-align: top;
}

.footer-left a {
  color: #000;
  font-weight: 300;
  text-decoration: none;
  padding: 0 5px 0 5px;
  transition: all 0.1s linear;
}

.footer-right p {
  font-size: 0.9rem;
}

.footer-left a:hover {
  color: #fff;
}

.copyright {
  color: #2b2b2b;
  font-size: 0.75rem;
}

footer i {
  color: #000;
  font-size: 1rem;
  padding: 5px;
}

.footer-icons i {
  font-size: 1.7rem;
  transition: all 0.1s linear;
}
.footer-icons i:hover {
  color: #fff;
}

@media screen and (max-width: 1600px) {
  .row {
    flex-direction: column;
    padding-bottom: 0;
  }
  .resource-panel {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 985px) {
  .page-container {
    margin-bottom: 510px;
  }

  /*Navigation Menu Responsive*/
  .logo {
    width: 200px;
    height: 40px;
    padding: 5px 0 0 5px;
  }

  nav {
    padding-top: 0;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a3e85c;
    transition: top 0.75s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 40px;
  }
  nav .openMenu {
    display: block;
    font-size: 35px;
    margin-bottom: -10px;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
  .icons i:hover {
    color: #fff;
  }
  li a:hover:not(.active) {
    color: #fff;
  }
  nav .mainMenu li a.active {
    color: #fff;
  }

  /*Footer Responive Styling*/
  footer {
    margin-bottom: -510px;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    display: block;
    justify-content: center;
    width: 90%;
    margin: 0 0 40px 0;
  }

  /*Page Styling FOR MOBILE*/

  /*EDIT BELOW FOR HOME PAGE MOBILE STYLING*/
  /*END OF HOME PAGE MOBILE STYLING*/

  /*EDIT BELOW FOR ABOUT PAGE MOBILE STYLING*/
  .goal-wrapper {
    padding: 15px;
  }
  .creators-wrapper {
    padding-bottom: 20px;
    max-width: 100%;
  }
  .creators-grid {
    display: block;
    max-width: 100%;
  }
  .creators-title {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .about-text {
    padding-left: 10%;
    padding-right: 10%;
  }
  .creator {
    text-align: center;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }

  /*END OF ABOUT PAGE MOBILE STYLING*/

  /*EDIT BELOW FOR GET INVOLVED PAGE MOBILE STYLING*/
  .form-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    float: right;
    align-items: center;
  }

  /*END OF GET INVOLVED PAGE MOBILE STYLING*/

  /*EDIT BELOW FOR SEARCH PAGE MOBILE STYLING*/
  /*END OF SEARCH PAGE MOBILE STYLING*/
}
