/*RESET*/
* {
    margin: 0;
    padding: 0;
  }


  body{ 
      background-color: white;  
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 80px; 
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
    
    
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    
   

  }

  li a:hover:not(.active) {
    text-decoration: underline 5px #A3E85C; 


  }
  
  li a.active {
    text-decoration: underline 5px #A3E85C; 
  }

  .logo {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 10px; 
    left: 10px; 
    overflow: hidden;
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 

  }
  
  


  h1{ 
    font-family: 'Comfortaa'; 
    font-size: 80px; 
    color: #0071A4;
    text-align: center; 

    
  }

  .header-message{ 
    grid-row: 1 / 3;
    grid-column: 7 / 8; 
    padding: 50px; 
   border: white 2px solid; 
   
  }

  p{ 
    padding: 50px 30px; 
    color: white; 
  }

  


